 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

.bg {
    background-size: 100;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 60vh;
    width: 20vw;
    position: absolute;
    top: 20%;
    left: 80;
    z-index: -1;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: white;
    height: 160px;
}
.logo {
        font-size: 1.5rem;
        margin: .5rem;
}
.navbar-links ul{
    margin: 0;
    padding:0;
    display: flex;
}
.navbar-links li{
    list-style: none;
    float:left
}
.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    background-color: #595555;
    margin-right: 15px;
}
.navbar-links li:hover{
    background-color:rgb(157, 223, 37);
    scroll-margin-right: 5px;
}

input[type=text], select, textarea {
    text-align: center;

    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      /* Add a background color and some padding around the form */
      .container {
        background: #595555;
        border-radius: 25px;
        padding: 30px;
        width: 500px;
        margin-top: 800px;
        margin-left: -3000px;
        margin-right: -50px;
      }


.rounded-corners1 {
    background-color: #d9d9d9;
    width: 25%;
    height: 291px;
    border-radius: 80px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 50px;
  }

  .rounded-corners2 {
    background-color: #d9d9d9;
    width: 25%;
    height: 291px;
    border-radius: 80px;
    text-align: center;
    margin-top: -310px;
    margin-bottom: 20px;
    margin-left: 635px;
  }

  .rounded-corners3 {
    background-color: #d9d9d9;
    width: 25%;
    height: 291px;
    border-radius: 80px;
    text-align: center;
    margin-top: -310px;
    margin-bottom: 10;
    margin-left: 1200px;
  }
  .rounded-corners4 {
    background-color: #d9d9d9;
    width: 25%;
    height: 291px;
    border-radius: 80px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -480px;
    margin-left: -1300px;
    margin-right: 100px;
  }

  .rounded-corners5 {
    background-color: #d9d9d9;
    width: 25%;
    height: 291px;
    border-radius: 80px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -480px;
    margin-left: -70px;
    margin-right: 100px;
  }

  .rounded-corners6 {
    background-color: #d9d9d9;
    width: 25%;
    height: 291px;
    border-radius: 80px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -480px;
    margin-left: -70px;
    margin-right: 100px;
  }
  

.aboutus{
    color: black;
    text-align: left;
    background-position: absolute;
    width: 95%;
    height: 100%;
    margin-top: 300px;       
    margin-left: -2600px;
    margin-right: 70px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #747373;
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: rgb(157, 223, 37);
}

.footer-bottom{
    background: rgb(34, 33, 33);
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:rgb(157, 223, 37);
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: rgb(157, 223, 37);
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}